<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESTSAP</title>
    <link rel="icon" href="../images/favicon/favicon.png">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <nav>
        <div class="logo">
            RESTSAP
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Favorite</a></li>
            <li><a target="_blank"
                    href="https://www.linkedin.com/in/setyo-awan-prakoso-976a1b1a8?originalSubdomain=id">About</a></li>
        </ul>

        <button class="menu-toggle" href="#">☰</button>
    </nav>

    <header class="jumbotron">
        <h1 class="hero-element"><span>Taste</span> of the Archipelago</h1>
    </header>

    <main id="maincontent">
        <section class="title">
            <h1>Explore Your Favorite Foods</h1>
        </section>

        <section class="content-display" id="restaurant-data">

        </section>
    </main>

    <footer class="foo">
        <h5>Copyright © 2020 - REST Setyo Awan Prakoso</h5>
    </footer>

</body>

</html>